.box.transparent_white
  .row
    .large-12.columns
      %h2.articleTitle Remember to RSVP
  .row
    .large-12.columns &nbsp;
  .row
    .large-12.columns
      - if alert
        .alert-box{"data-alert" => ""}
          = "#{alert}"
          %a.close{href: "#", onclick: "$('.alert-box').hide(); return false"} ×
      %h3.articleSubTitle Enter your email to search for your RSVP
      = form_tag({ controller: "wedding", action: "find_guest", method: "post" }, { remote: true, id: "find_guest"}) do
        .row
          .large-4.columns &nbsp;
          .large-4.columns
            = email_field_tag(:email) 
          .large-4.columns &nbsp;
      .row
        .large-12.columns
          %button{type: "button", id: "rsvp_button", :class => "large button [radius round] center"} Find My RSVP
        