%section.home{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      You are
      %span.dark invited
    %h3.articleSubTitle.textShadow To David and Michael's Wedding
%section.schedule.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Schedule of
      %span.dark events
    %h3.articleSubTitle.textShadow Friday 9/26/14
%section.directions.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Directions to
      %span.dark venues
    %h3.articleSubTitle.textShadow Redwood grove
    %p This is the map to the redwood grove
%section.rsvp.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      RSVP by 
      %span.dark 8/14/14
    %h3.articleSubTitle.textShadow Call or fill out this form
%section.registry.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Gift
      %span.dark registry
    %h3.articleSubTitle.textShadow Call or fill out this form


=content_for :head do
  = javascript_include_tag "wedding"
  
  