%section.home{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow 
      #{@guest.name}, you are
      %span.yellow invited
    %h3.articleSubTitle.textShadow To David and Michael's Wedding
    =image_tag "davidandmichael.jpg"
%section.schedule.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Don't Be Tardy for the
      %span.yellow Party
    %h3.articleSubTitle.textShadow Friday 9/26/14
%section.directions.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Directions to
      %span.yellow venues
      %h3.articleSubTitle.textShadow Redwood grove
      .whitebox
        %p This is the map to the redwood grove
%section.rsvp.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Gift
      %span.yellow registry
    %h3.articleSubTitle.textShadow Call or fill out this form
%section.registry.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Remeber to 
      %span.yellow RSVP
    %h3.articleSubTitle.textShadow Remember to RSVP
    - unless @guest.blank?
      = render 'form'

      
    
    


=content_for :head do
  = javascript_include_tag "wedding"
  
  