%section.home{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      One page
      %span.dark website
    %h3.articleSubTitle.textShadow With parallax scrolling backgrounds
%section.about.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      About
      %span.dark us
    %h3.articleSubTitle.textShadow Who are we and what do we do?
%section.contact.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Contact
      %span.dark me
    %h3.articleSubTitle.textShadow Have questions? Contact us!
%section.about.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      About
      %span.dark us
    %h3.articleSubTitle.textShadow Second about us section!


=content_for :head do
  = javascript_include_tag "wedding"
  
  