%section.home{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      You are
      %span.dark invited
    %h3.articleSubTitle.textShadow To David and Michael's Wedding
%section.about.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Schedule of
      %span.dark events
    %h3.articleSubTitle.textShadow Friday 9/26/14
%section.contact.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Directions
      %span.dark to venues
    %h3.articleSubTitle.textShadow Redwood grove
%section.about.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      RSVP
      %span.dark by 8/14/14
    %h3.articleSubTitle.textShadow Call or fill out this form


=content_for :head do
  = javascript_include_tag "wedding"
  
  