// Place all the styles related to the wedding controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

@import url(http://fonts.googleapis.com/css?family=Patua+One);

@import url(http://fonts.googleapis.com/css?family=Wellfleet);

@import url(http://fonts.googleapis.com/css?family=Armata);

@import url(http://fonts.googleapis.com/css?family=Fira+Sans);

@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);

@import "foundation/components/buttons";

@import "font-awesome";

$subheader-color-schedule: #00005C;
$subheader-color-home: #663300;
$subheader-color-directions: #003300;
$subheader-color-registry: #800000;
$subheader-color-rsvp: #00005C;


body {
  font-family: 'Arvo', serif;
  line-height: 20px;
  font-weight: 300;
	color: #333;
	margin: 0;
	padding: 0;
  font-size: 1em;
}

p, h2, h3 {
  font-size: 100%;
}

p {
  margin-bottom: 3%;
}

.break-word {
  word-wrap: break-word;
}

.textShadow {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.boxShadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.subhead {
  font-size: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
}

.yellow {
  color: #ffcc33;
}

.map {
  width: 95%;
  height: 300px;
}

#home {
  position: relative;
  margin: 45,auto;
  width: 100%;
  height: 750px;
  background: url("point-reyes-sunset-bg-sm.jpg") no-repeat center center fixed;
  h3, h2 {
    color: $subheader-color-home;
  }
  .home_message {
    padding-top: 2%;
    padding-bottom: 20%;
  }
}

#schedule {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 750px;
	background: url("blue-glitter-bg-sm.jpg") 50% 0 repeat;
  h3, h2 {
    color: $subheader-color-schedule;
  }
  p.col2 {
    width: 95%;
  }
  h3.icon {
    text-align: right;
    font-size: 150%;
  }
  .columns.small_header {
    padding-right: 0px;
  }
}

#directions {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 750px;
	background: url("redwood-forest-bg-sm.jpg") no-repeat center center fixed;  
  h3, h2 {
    color: $subheader-color-directions;
  }
  .note {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-size: 80%;
    margin-bottom: 10px;
  }
}

#rsvp {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 750px;
	background: url("path-to-lighthouse-bg-sm.jpg") 10% 50% repeat fixed;
  h3, h2 {
    color: $subheader-color-rsvp;
  }
  .rsvp_inner_box {
    padding-bottom: 4%;
  }
}

#registry {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 750px;
  background: url("pink-glitter-bg-sm.jpg") 50% 0 repeat;  
  h3, h2 {
    color: $subheader-color-registry;
  }
  p {
    line-height: 1.3em;
  } 
  .nomargin {
    margin-bottom: 5px;
  }
  .note {
    font-size: 80%;
    line-height: 1.2em;
    margin-top: 0px;
    padding-top: 0px;
    line-height: 1.2em;
    width: 90%;
  }
  .honeymoon-registry {
    background-color:rgba(255,255,255,0.65);
    padding: 15px 15px;
    width: 100%;
    p {
      margin: 0px;
    }
  }
}

#animation-map {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 750px;
  .articleTitle {
    color: $subheader-color-rsvp;
    position: absolute; 
    top: 50px; 
    text-align: center; 
    z-index: 10; 
    width: 100%
  }
}

.content {
  position: absolute;
  top: 50px;
  height: 600px;
	width: 100%;
  padding: 0 10%;
  text-align: center;
}

.box {
  background: url("content-bg.png") 0 0 repeat repeat;
//  background: url("WatercolorTutorial_PaperTexture.png") 0 0 repeat;
//  background-color:rgba(255,255,255,0.95);
  position: relative;
  top: 10px;
  padding: 3%;
	margin: auto;
	width: 90%;
  text-align: center;
}

.rsvp_inner_box {
	width: 80%;
	margin: auto;
	padding: 30px;
//	border: 10px solid #9900CC;
}

.articleSuperTitle {
  margin-bottom: 0.25em;
  font-family: 'Wellfleet', cursive;
  font-size: 200%;
  line-height: 1em;
  color: $subheader-color-home;
}

.articleTitle {
  margin-bottom: 2%;
  font-family: 'Wellfleet', cursive;
  font-size: 300%;
  line-height: 1em;
}

.articleSubTitle {
  font-family: 'Fira Sans';
  font-weight: 700;
  font-size: 130%;
  line-height: 1.3em;
  color: #333;
}

.button {
	cursor: hand;
}

.hidden {
	display: none;
}

form {
	text-align: left;
}

.selected { 
	@include button;
	background: #ffffff;
  border: 2px solid $primary-color;
  color: $primary-color;
	background-color: #ffffff;
}
.selected:hover, .selected:visited, .selected:focus  {
	background: white;
  border: 2px solid $primary-color;
  color: $primary-color;
	background-color: white;
}

.deselected { 
	@include button;
	background: #cdcdcd;
  border: 2px solid #cdcdcd;
	background-color: #cdcdcd;
}

.deselected:hover, .deselected:visited, .deselected:focus {
	background: #ffffff;
  border: 2px solid $primary-color;
  color: $primary-color;
	background-color: #ffffff;
}

.center {
	margin: auto;
	display: block;
}

.left {
	align: left;
	display: block;
}

.right {
	align: right;
	display: block;
}

.left-align {
  text-align: left;
}

.date {
  font-size: 80%;
  font-weight: 500;
}

// foundation style overrides

.top-bar {
  background: inherit;
}

.top-bar-section li:not(.has-form) {
  a:not(.button) {
    background: inherit;
  }
}

.top-bar.expanded .title-area {
  background: inherit;
}

.top-bar.expanded .toggle-topbar a {
  color: #ffffff;
}

.top-bar-section ul {
  background: inherit;
}

.top-bar-section ul li {
  a:hover {
    background:scale-color(#ffffff, $lightness: -50%);
  }
}

.icon {
  margin: 0px;
  padding: 0px;
  line-height: 1em;
}

.float_right {
  float: right;
}

@media #{$small-up} { }
@media #{$small-only} { 
  body {
    font-size: .8em;
  }

  .top-bar .name h1 {
    font-size: 14px;
  }
  
  .buffer {
    display: none;
  }


  .rsvp_inner_box {
    padding: 0px;
    padding-top: 2%;
  }
  
  .box {
    width: 98%;
  }
  
  .small-top-cell {
    margin-bottom: 30px;
  }
  
  .map {
    width: 95%;
    height: 150px;
  }
  
  .articleTitle {
    font-size: 200%;
    line-height: 1em;
  }
  .subhead {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  #home {
    height: 720px;
    h3, h2 {
      color: $subheader-color-home;
    }
    .home_message {
      padding-top: 2%;
      padding-bottom: 7%;
    }
    .copy {
      padding-top: 5%;
    }
    img {
      height: 150px;
      width: 150px;
    }
  }
  
  #schedule {
    height: 1080px;
    h3.icon {
      text-align: center;
      font-size: 150%;
      margin-bottom: 2%;
      padding: 1%;
      background-color:rgba(255,255,255,0.55);
    }
    .columns.small_header {
      padding-left: 0px;
    }
  }
  
  #directions {
    height: 1000px;
  }
  
  #registry {
    height: 900px;
  }
  
  #rsvp {
    height: 900px;
  }
  
  .button.large, .button.large {
    font-size: 1rem;
  }
  
}

@media #{$medium-up} { }
@media #{$medium-only} {
  .buffer {
    display: none;
  }
  .articleTitle {
    font-size: 300%;
    line-height: 1em;
  }
  .map {
    width: 95%;
    height: 200px;
  }
  
  .small-top-cell {
    margin-bottom: 30px;
  }
  
  
  #home {
    height: 1100px;
    h3, h2 {
      color: $subheader-color-home;
    }
    .home_message {
      padding-top: 2%;
      padding-bottom: 7%;
    }
    img {
      height: 300px;
      width: 300px;
    }
    .copy {
      margin-top: 5%;
    }
  }
  
  #schedule {
    height: 1200px;
    h3.icon {
      text-align: center;
      font-size: 150%;
      margin-bottom: 2%;
      padding: 1%;
      background-color:rgba(255,255,255,0.55);
    }
    .columns.small_header {
      padding-left: 0px;
    }
  }
  
  #directions {
    height: 1200px;
	  background: url("redwood-forest-bg.jpg") repeat center center fixed;  
  }
  
  #registry {
    height: 1100px;
  }
  #rsvp {
    height: 1000px;
  }
  
}

@media #{$large-up} { 
  .box {
    min-width:1000px;
  }
  #registry {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.pink-glitter-bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='pink-glitter-bg.jpg', sizingMethod='scale')";
  }
  #rsvp {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.path-to-lighthouse-bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='path-to-lighthouse-bg.jpg', sizingMethod='scale')";
  }
  #directions {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.redwood-forest-bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='redwood-forest-bg.jpg', sizingMethod='scale')";
  }
  #schedule {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.blue-glitter-bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='blue-glitter-bg.jpg', sizingMethod='scale')";
  }
  #home {
    .home_message {
      padding-top: 0px;
      padding-bottom: 15px;
    }
    .copy {
      padding-top: 0px;
    }
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.point-reyes-sunset-bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='point-reyes-sunset-bg.jpg', sizingMethod='scale')";
  }
  
}
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }
